<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h3>応募履歴一覧</h3>
            <% @entrys.each do |e| %>
             <%= link_to entry_path(e) do %>
                <div class="job_listing_table">
                    <div class="border">
                        <table class="p">
                            <tbody>
                                <tr>
                                   <td><%= e.contract_date.strftime('%Y年%m月%d日') %></td>
                               </tr>
                               <tr>
                                   <td><%= e.job_listing.company.company_name %></td>
                               </tr>
                               <tr>
                                   <td><%= e.job_listing.genre.genre %></td>
                               </tr>
                               <tr>
                                   <td><%= e.job_listing.date_time %></td>
                               </tr>
                            </tbody>
                        </table>
                    </div>
              </div>
            <% end %>
            <% end %>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="block_30"></div>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
      </div>
      <div class="col-lg-3"></div>
    </div>
</div>


