<div class="mypage container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<h1><em>mypage</em></h1>
            <%if flash[:notice]%>
        <%=flash[:notice]%>
        <% end %>

		</div>
		<div class="col-lg-1"></div>
	</div>
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<h3><%= current_user.name %>様情報</h3>
            <div class="row margin_top">
                <p><strong>電話番号</strong></p>
                <div>
                    <%= @user.phone_number %>
                </div>
                <p><strong>Eメール</strong></p>
                <div>
                    <%= @user.email %>
                </div>
                <p><strong>登録住所</strong></p>
                <div>
                    <%= @user.postcode %>
                </div>
                <p><strong>都道府県</strong></p>
                <div>
                    <%= @user.prefecture %>
                </div>
                <p><strong>市区町村</strong></p>
                <div>
                    <%= @user.city %>
                </div>
                <p><strong>番地</strong></p>
                <div>
                    <%= @user.street %>
                </div>
                <p"><strong>物件名</strong></p>
                <div>
                    <%= @user.building %>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
	</div>
	<div class="row">
		<div class="col-lg-5"></div>
		<div class="mypage col-lg-5">
            <%= link_to "   編集   ",edit_user_path(current_user.id),class: "user_cp_btn" %>
		</div>
		<div class="col-lg-5"></div>
            <div class="block_50">
            </div>
            <div class="row">
            </div>
	</div>
</div>


    



