<%if flash[:notice]%>
	        <%=flash[:notice]%>
	        <% end %>
<div class="container">
    <div class="hero row">
    	<div class="cube"></div>
    	<div class="cube"></div>
    	<div class="cube"></div>
    	<div class="cube"></div>
    	<div class="cube"></div>
    	<div class="cube"></div>
	        <div class="hero__title"><em>Connection</em></div>
			<div class="col-lg-2"></div>
			<div class="col-lg-9">
				<div class="top_image anime_test">

					<%= link_to  job_listings_path(genre_id:1) do  %>
					<%= image_tag "diiku.jpeg" %>
					<% end %>
				</div>
				<div class="top_image anime_test">
					<%= link_to  job_listings_path(genre_id:2) do  %>
					<%= image_tag "tobi.jpeg" %>
				    <% end %>
	            </div>
	            <div class="top_image anime_test">
	            	<%= link_to  job_listings_path(genre_id:3) do  %>
					<%= image_tag "tosou.jpeg" %>
				    <% end %>
				</div>
		    </div>
		    <div class="col-lg-1"></div>
	</div>
</div>
