<div class="container">
	<div class="block_50"></div>
    <div class="row">
    	<%if flash[:notice]%>
        <%=flash[:notice]%>
        <% end %>
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<div class="top_image">

				<%= link_to  job_listings_path(genre_id:1) do  %>
				<%= image_tag "diiku.jpeg" %>
				<% end %>

			</div>
			<div class="top_image">
				<%= link_to  job_listings_path(genre_id:2) do  %>
				<%= image_tag "tobi.jpeg" %>
			    <% end %>

            </div>
            <div class="top_image">
            	<%= link_to  job_listings_path(genre_id:3) do  %>
				<%= image_tag "tosou.jpeg" %>
			    <% end %>
			</div>
	    </div>
	    <div class="col-lg-1"></div>
	</div>
</div>
