<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
	       <h1>応募状況確認画面</h1>
	   </div>
	   <div class="col-lg-1"></div>
    </div>
    <div class="block_30"></div>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<% current_company.job_listings.each do |job_listing| %>
            ID: <%= job_listing.id%>の求人（<%= job_listing.details %>）に応募がありました<br>
            <% job_listing.entries.each do |entry| %>
                <%= entry.created_at.strftime('%Y年%m月%d日') %>
                応募ID: <%= entry.id %> <%= entry.user.name %>さん<br>
            <% end %>
            <br>
        <% end %>
		</div>
		<div class="col-lg-1"></div>
	</div>
</div>
