<div class="container">
    <div class="row">
	    <%if flash[:notice]%>
        <%=flash[:notice]%>
        <% end %>
	</div>
	<div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h3><strong>お客様情報確認画面</strong></h3><br>
            <div>
                <p><strong>お名前</strong></p>
                <div>
                    <%= @company.company_name %>
                </div>
                <p><strong>電話番号</strong></p>
                <div>
                    <%= @company.phone_number %>
                </div>
                <p><strong>Eメール</strong></p>
                <div>
                    <%= @company.email %>
                </div>
                <p><strong>登録住所</strong></p>
                <div>
                    <%= @company.postcode %>
                </div>
                <p><strong>都道府県</strong></p>
                <div>
                    <%= @company.prefecture %>
                </div>
                <p><strong>市区町村</strong></p>
                <div>
                    <%= @company.city %>
                </div>
                <p><strong>番地</strong></p>
                <div>
                    <%= @company.street %>
                </div>
                <p><strong>物件名</strong></p>
                <div>
                    <%= @company.building %>
                </div>
                <div class="block_10"></div>
                <%= link_to "　編集　",edit_company_path(current_company.id),class: "company_cp_btn" %>
            </div>
        </div>
        <div class="col-lg-2"></div>
	</div>
</div>