<div class="background_color text-center">
  <%= image_tag "28042019071841A.png" %>
    <div class="container">
       <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 panel panel-default text-center">
            <div class="panel-heading">
              <h4>新規登録</h4>
            </div>
            <div class="panel-body">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>


              <div class="field">
                  <%= f.label :会社名 %><br />
                  <%= f.text_field :company_name, autofocus: true, autocomplete: "company",:size=>"60" %>
                </div>

                <div class="field">
                  <%= f.label :資本金 %><br />
                  <%= f.text_field :capital, autofocus: true, autocomplete: "capotal",:size=>"60" %>
                </div>

                <div class="field">
                  <%= f.label :職種 %><br />
                  <%= f.collection_select :genre_id, Genre.all,:id,:genre,:size=>"60" %>
                  <!-- ジャンル名で指定できる -->
                </div>

                <div class="field">
                  <%= f.label :従業員数 %><br />
                  <%= f.text_field :emoloyee_number, autofocus: true, autocomplete: "emoloyee_number",:size=>"60" %>
                </div>


                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",:size=>"60" %>
                </div>

                <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password",:size=>"60" %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password",:size=>"60" %>
                </div>

                <div class="actions">
                  <%= f.submit "Sign up" %>
                </div>
              <% end %>

              <%= render "companies/shared/links" %>
            </div>
          </div>
          <div class="col-lg-1"></div>
       </div>
    </div>
</div>
