<body>
	<div class="container">
	   <div class="row">
		   	<div class="col-lg-1"></div>
		   	<div class="col-lg-10">
		   		<h1><em>求人一覧</em></h1>
			   		<% @job_listings.each do |job_listing| %>
			   			<%= link_to job_listing_path(job_listing) do %>
			   	<div class="job_listing_table">
			   		<div class="border">
				   		<table width="200px">
					   	    <tbody>
					   	    	<tr>
									<td><strong><%= job_listing.genre.genre %></strong></td>
								</tr>
							    <tr>
								    <td><strong><%= job_listing.company.company_name %></strong></td>
								</tr>
								<tr>
									<td><strong><%= job_listing.date_time %></strong></td>
								</tr>
								<tr>
									<td><strong><%= job_listing.place %></strong></td>
								</tr>
								<tr>
									<td><strong><%= job_listing.price %>円</strong></td>
								</tr>
							</tbody>
					    </table>
					</div>
				</div>
				    <% end %>
				    <% end %>
		   	</div>
		   	<div class="col-lg-1"></div>
	   	</div>
	</div>
</body>