<!DOCTYPE html>
<html>
  <head>
    <title>Connection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
      <a class="navbar-brand">Connection</a>

<!-- 個人ユーザでログインした場合 -->
      <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
          <li class="color_white">
          </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li>
            <%= link_to "　ホーム　", root_path, class: "user_cp_btn"%>
          </li>
          <li>
            <%= link_to "マイページ",mypage_path(current_user), class: "user_cp_btn" %>
          </li>
          <li>
            <%= link_to " 応募履歴一覧 ", entries_path,class: "user_cp_btn" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user_cp_btn" %>
          </li>
        </ul>
      </div>

      <!-- 法人でログインした場合 -->
      <% elsif company_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
          <li class="color_white">
          </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li>
            <%= link_to "　ホーム　", top_path, class: "company_cp_btn"%>
          </li>
          <li>
            <%= link_to '編集', edit_company_path(Company), class: "company_cp_btn" %>
          </li>
          <li>
            <%= link_to '新規登録', new_ad_job_listing_path, class: "company_cp_btn" %>
          </li>
          <li>
            <%= link_to '一覧', ad_job_listings_path, class: "company_cp_btn" %>
          </li>
          <li>
            <%= link_to "応募情報", company_path(Company), class: "company_cp_btn" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "company_cp_btn" %>
          </li>
        </ul>
      </div>


      <% else %>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li class="cp_btn">
            <%= link_to "ホーム", root_path, class: "btn btn-dark nav_margin"%>
          </li>
          <li class="cp_btn">
            <%= link_to "個人ログイン", new_user_session_path, class: "btn btn-dark" %>
          </li>
          <li class="cp_btn">
            <%= link_to "個人新規作成", new_user_registration_path, class: "btn btn-dark margin_right_footer" %>
          </li>

          <li class="cp_btn">
            <%= link_to "法人様ログイン", new_company_session_path, class: "btn btn-dark" %>
          </li>
          <li class="cp_btn">
            <%= link_to "法人様新規作成", new_company_registration_path, class: "btn btn-dark margin_right_footer" %>
          </li>
          <li class="cp_btn">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-dark nav_margin margin_right_footer" %>
          </li>
        </ul>
      <% end %>


    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
  <footer>
          <p>©︎2019 connection</p>
  </footer>
</html>
